# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
#.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins-dependencies
.pub-cache/
.pub/
/build/
/coverage/

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Android Studio will place build artifacts here
/android/app/debug
/android/app/profile
/android/app/release

/flask_server/model_files/ana_questionnaire_predictor.pkl
flask_server/venv/
/flask_server/model_files/face/EmotionRecognition.h5
/flask_server/model_files/hand/config.json
/flask_server/model_files/hand/keypoint_classifier_label.csv
/flask_server/model_files/hand/metadata.json
/flask_server/model_files/hand/model.weights.h5
/flask_server/model_files/hand/point_history_classifier_label.csv
/flask_server/model_files/text/inner_character_cnn_lstm (1).keras
/flask_server/model_files/text/label_encoder (3).pkl
/flask_server/model_files/text/vocab (2).pkl
/flask_server/model_files/voice/knn2.pkl
/flask_server/model_files/voice/label2_encoder.pkl
/flask_server/model_files/voice/pca2.pkl
/flask_server/model_files/voice/scaler2.pkl
/flask_server/saved_audio_files/